@import "tailwindcss"; 
@import "variables";

@theme {
  --color-primary-green: #33847D;
  --color-green-title: #038C7F;
  --color-green-blur: #33847d80;
  --color-primary-gray: #3A3938;
  --color-dark-blue: #090B19;
  --color-overlay-bg: #3A3937;
  --color-title-color: #383838;
  --color-verde-oscuro: #046658;
  --color-green-light: #60B9A6;
  --color-red-blur : #b5553f66;
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-kadwa: 'Kadwa', serif;
}

html {
  scroll-behavior: smooth;
}

@view-transition {
  navigation: auto;
}

.fondo {
  background-color: #373737b4;
}

h2, h1 {
  color: #383838;
  position: relative;
  z-index: 2;
  font-family: 'Plus Jakarta Sans', sans-serif;
  letter-spacing: -1.5px;
  line-height: 93.6%;
}

h3 {
  color: $primary-green;
  font-family: $baileys-regular;
  font-size: 5.5rem;  
  line-height: 3rem;
}

.font-bailey {
  font-family: $baileys-regular;
}

h5 {
  font-weight: 300;
  text-transform: uppercase;
}


@media (max-width: 600px) {
    h2, h1 {
    font-size: 45px;
  }
  .swiper {
    max-width: 95vw;
  }
}
